@model IEnumerable<Stajtakip.Models.EntityFramework.GradeCategory>
@using GridMvc.Html
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>$function(){
        $(".linkdisabled").click(function () {
            return false;
        }
}</script>
<script src="~/Scripts/loadingList-min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/text.config.min.css" rel="stylesheet" />
<div style="width:100%; margin-left:6%; margin-right:6%;">
    <div class="card card-user">
        <div class="boxshadow-title">
            <h5 class="card-title text-color-btn-vfi-default">Grade Types</h5>
        </div>
        <div class="card-body" style="overflow-x:auto;">
            @Html.Grid(Model).Columns(Columns =>
       {

           Columns.Add(x => x.GradeName).Titled("Grade Type").Sortable(true).Filterable(true);
           Columns.Add(x => x.Percent).Titled("Percentage");

           Columns.Add()
           .Encoded(false)
           .Sanitized(false)
           .SetWidth(20)
           .RenderValueAs(x => Html.ActionLink("Edit", "EditGradeCategory", new { id = x.GradeCategoryID }, new { @style = "text-decoration:none;font-size:10pt;font-weight:bold;" }));

           Columns.Add()
           .Encoded(false)
           .Sanitized(false)
           .SetWidth(20)
           .RenderValueAs(x => Html.ActionLink("Delete", "DeleteCategory", new { id = x.GradeCategoryID }, new { onclick = "return confirm('Are you sure wish to delete this teacher?');", @style = "text-decoration:none;font-size:10pt;font-weight:bold;" }));

       }).WithPaging(12).Sortable(true)
        </div>
    </div>
</div>