@model Stajtakip.Models.EntityFramework.StudentUserInfo
@{
    Layout = "~/Views/Shared/_ResetPasswordStep1.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Scripts/login-min.js"></script>
    <link href="~/Content/login-min.css" rel="stylesheet" />
    <link href="~/Content/error-min.css" rel="stylesheet" />
    <link href="~/Content/SquareButton.css" rel="stylesheet" />
    <link href="~/Content/showPass-min.css" rel="stylesheet" />
    <link href="~/Content/PlaceholderStyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    @{
        var endtime = DateTime.UtcNow.AddSeconds(5);
        var timeRemaining = TimeSpan.FromTicks(endtime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds;
    }
</head>
<body class="body">
    
    @using (Html.BeginForm("NewPasswordPage", "Login", FormMethod.Post))
    {
        <div class="container">
            <div id="login-box" style="margin-left:25%;">
                <div class="logo">
                    @*<img src="~/Image/logo.png" class="img img-responsive img-circle center-block" style="width:35%;" />*@
                    <div style="width:100%;">
                        <div class="warning-msg" style="font-size:8pt;">
                            <p style="font-weight:bold;text-align:left;">
                                • There must at least one Upper Case.(A-Z)
                            </p>
                            <p style="font-weight:bold;text-align:left;">
                                • There must at least one Lower Case.(a-z)
                            </p>
                            <p style="font-weight:bold;text-align:left;">
                                • There must at least one Numerical Character.(0-9)
                            </p>
                            <p style="font-weight:bold;text-align:left;">
                                • There must at least one Special Character.('?','*','.')
                            </p>
                            <p style="font-weight:bold;text-align:left;">
                                • You cannot use "Space" character in your password.
                            </p>
                        </div>
                    </div>
                    
                    <h1 class="logo-caption" style="margin:0px; padding:0px;"><span class="tweak">R</span>eset</h1> <h1 class="logo-caption" style="margin:0px; padding:0px;"><span class="tweak">P</span>assword</h1>
                </div><!-- /.logo -->
                <div class="controls" style="height:100%;">
                    @*Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control", placeholder = "Activation Code", @style = "font-size:15px;" } })*@
                    @*@Html.EditorFor(model => model.activationLink, new { htmlAttributes = new { @class = "form-control", @type = "text", placeholder = "Confirmation Code", @style = "font-size:10pt;border-top-right-radius:15px;border-top-left-radius:15px;" } })
        @Html.EditorFor(model => model.GeneratePassword, new { htmlAttributes = new { @class = "form-control", @id = "password-field2", @type = "password", placeholder = "New Password", @style = "font-size:10pt;", } })*@
                    <input type="text" class="form-control" placeholder="Confirmation Code" style="font-size:10pt;" name="ConfirmationCode" />
                    <input type="password" class="form-control" placeholder="New Password" style="font-size:10pt;" name="NewPassword" id="password-field2" />
                    <span toggle="#password-field2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    <script>
                        $(".toggle-password2").click(function () {

                            $(this).toggleClass("fa-eye fa-eye-slash");
                            var input = $($(this).attr("toggle"));
                            if (input.attr("type") == "password") {
                                input.attr("type", "text");
                            } else {
                                input.attr("type", "password");
                            }
                        });
                    </script>
                    @* @Html.EditorFor(model => model.ConfirmPassword2, new { htmlAttributes = new { @class = "form-control", @id = "password-field", @type = "password", placeholder = "Confirm Password", @style = "font-size:10pt;" } })*@
                    <input type="password" class="form-control" placeholder="Confirm Password" style="font-size:10pt;" name="ConfirmPassword" id="password-field" />
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    <script>
                        $(".toggle-password").click(function () {

                            $(this).toggleClass("fa-eye fa-eye-slash");
                            var input = $($(this).attr("toggle"));
                            if (input.attr("type") == "password") {
                                input.attr("type", "text");
                            } else {
                                input.attr("type", "password");
                            }
                        });
                    </script>
                    @*Html.EditorFor(model => model.StudentEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Repeat New Password", @style = "font-size:15px;" } })*@

                   

                    <button type="submit" name="Register" value="Register" class="btn btn-default btn-block btn-custom paragraf wow rotateIn" style="font-size:10pt;border-bottom-right-radius:15px;border-bottom-left-radius:15px;">Update</button>
                <br />
                    @Html.ActionLink("Login Page", "Login", null, new { @style = "color:#AC6868;text-decoration:none;font-size:13pt;" })
                    <br />
                    @if (ViewBag.success == true)
                    {
                        <div class="success-msg" style="font-size:10pt;">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Successfully Updated! Returning Login Page in <span id="secRemaining" style="color:black; "></span> seconds
                        </div>
                        <meta http-equiv="Refresh" content="5; URL=Login" />
                    }
                    @if (ViewBag.ProducedConfirmationCodeError == true)
                    {
                        <div class="error-msg">
                            <i class="fa fa-times-circle"></i>
                            Confirmation code is wrong !
                        </div>
                    }
                    @if (ViewBag.EmptyFieldsError == true)
                    {
                        <div class="error-msg">
                            <i class="fa fa-times-circle"></i>
                            Please fill all areas !
                        </div>
                    }
                    @if (ViewBag.NotMatchNPCPError == true)
                    {
                        <div class="error-msg">
                            <i class="fa fa-times-circle"></i>
                            New password and Confirmation password are not matching !
                        </div>
                    }
                    @if (ViewBag.ValidatePassError == true)
                    {
                        <div class="alert alert-danger">
                            <p>
                                Please have at least 6 characters and at least one lower
                            </p>
                            <p>
                                and upper case character and a non letter character
                            </p>
                            <p>
                                and at least a numerical character in your new password !
                            </p>
                        </div>
                    }
                </div><!-- /.controls -->
            </div><!-- /#login-box -->
        </div><!-- /.container -->


    }
</body>
</html>
<script>
        var remSeconds =@timeRemaining;
        var secondsCounter = remSeconds % 60;
        function formatNumber(number)
        {
            if (number < 10) return '' + number;
            else return '' + number;
        }
        function startTick() {
            document.getElementById("secRemaining").innerText = formatNumber(secondsCounter);



            var _tick = setInterval(function () {
                if (remSeconds > 0) {


                    remSeconds = remSeconds - 1;
                    secondsCounter = secondsCounter - 1;
                    document.getElementById('secRemaining').innerText = formatNumber(secondsCounter);

                }

            }, 1000);
        }
        startTick();
</script>